<div id="container"></div>


<div id="header">
     <img src="pcd_assets/images/dpe_logo_small.png" class="logo-small"/>

     <a href="/logout" style="font-family: arial; font-size: 15px; font-weight: bold; color: #4A90E2; text-decoration: none; float: right; margin-top: 10px; margin-right: 20px;">Logout</a>
   <span style="font-family: arial; font-size: 16px; color: #4A90E2; text-decoration: none; float: right; margin-top: 10px; margin-right: 5px;">
     {{user}} | </span>
 </div>
 <div id="top-menu"></div>
 <div id="menu">
     <!-- LEFT COLUMN CONTENT GOES HERE -->
 </div>
 <div id="content">
   <div id="content-inside">
     <div class="splitter-panel" id="left-content"></div>
     <div class="splitter-panel" id="right-content"></div>
  </div>
 </div>

 <div id="footer">
     <!-- FOOTER CONTENT GOES HERE -->
 </div>

 <div id="dialogWindowContainer"></div>

 <div id="successNotification">
     <div>
         Proses berhasil
     </div>
 </div>

 <div id="errorNotification">
     <div>
         Proses gagal
     </div>
 </div>

 <script src="app/notification.js"></script>
 <script src="app/bundle.js"></script>
