<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard Admin</title>

    <link rel="stylesheet" href="/pcd_assets/lib/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/pcd_assets/lib/jqwidgets/styles/jqx.light.css" type="text/css" />
    <link rel="stylesheet" href="/pcd_assets/lib/jqwidgets/styles/jqx.metro.css" type="text/css" />

    <link rel="stylesheet" href="/pcd_assets/css/main.css">

    <script src="pcd_assets/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="pcd_assets/lib/jquery/jquery-dateformat.js"></script>
    <script src="pcd_assets/lib/jqwidgets/jqx-all.js"></script>
  </head>
  <body>
    {{{content}}}
  </body>
</html>
